<!DOCTYPE html>
<html>
<head>
    <title>Message in real Time with Golang</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.min.css" />
</head>
<body>
    <div>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://127.0.0.1:8080/">
                        Message in Real Time
                    </a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-12">
                    <div id="messages" class="list-group">
                        {{#each messages}}
                            <a id="message-{{id}}" href="#" class="list-group-item">
                                <strong>{{message}}</strong>
                            </a>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="text" id="input-message" class="form-control" placeholder="Your message" aria-label="Your message" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="add-message" type="button">Add Message</button>
                </div>
              </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script type="module">

import {PusherKey} from '/templates/config.js'; 

        var pusher = new Pusher(PusherKey(), {
            cluster: 'us2',
            encrypted: true
        });

        console.log( PusherKey() )

        var channel = pusher.subscribe('message');   

        var button = document.getElementById('add-message');
        button.addEventListener('click', function() {
            var newComment = {
                "id": 9,
                "body": document.getElementById('input-message').value
            }

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/message", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.onreadystatechange = function () {
                if (xhr.readyState != 4 || xhr.status != 200) return;
                // document.getElementById('input-message').;
            };
            xhr.send(JSON.stringify(newComment));
        }, false);


        channel.bind('new_message', function(data) {
            var list = document.getElementById('messages');
            var message = '<strong>'+data.message+'</strong>';

            var newMessageNode = document.createElement('a');
            newMessageNode.classList.add('list-group-item');
            newMessageNode.setAttribute('id', 'message-'+data.id);
            newMessageNode.innerHTML = message;

            list.appendChild(newMessageNode);
        });

    </script>
</body>
</html>